.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    background-color: #fff;
  }
  
  .form-container h2 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-container form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
  }
  
  .form-container form input[type="text"],
  .form-container form input[type="email"],
  .form-container form input[type="number"],
  .form-container form input[type="password"],
  .form-container form select,
  .form-container form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    background-color: #f4f4f4;
  }
  
  .form-container form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #008080;
    cursor: pointer;
  }
  
  .form-container table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .form-container table th,
  .form-container table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .form-container table th {
    background-color: #008080;
    color: #fff;
  }
  